@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  font-family: "Lato", sans-serif;
}

:root {
  --primary-white: #fff;
  --secondary-pink: #E31C58;
  --primary-black: #000;
}

body {
  font-family: "Lato", sans-serif;
}

/********** Navbar **********/

.navbar {
  background-color: var(--primary-white);
  font-family: "Lato", sans-serif;
  z-index: 2;
}

.logo {
  width: 6.39rem;
}

/* links */
nav a.nav-link {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  border-top: 0.1875rem solid var(--primary-white);
}

.navbar-brand {
  max-width: 17.25rem;
}

@media(max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--secondary-pink);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--secondary-pink);
}


/********** Header **********/

.header-wraper {
  position: relative;
  background: url(background.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lato", sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: var(--secondary-pink) !important;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

/* Typed text */
.typed-text {
  font-size: 1.5rem;
}

@media(max-width: 768px) {
  main-info h1 {
    font-size: 1.5rem !important;
  }
  typed-text {
    font-size: 1.2rem !important;
  }
}

/* Header main offer button */
.btn-main-offer {
  /* border: 0.0625rem solid var(--primary-black); */
  text-transform: uppercase;
  border-radius: 5px;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  background-color: var(--secondary-pink);
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: #b61b4a;
  transition: 0.2s ease-in-out;
}


/********** Particles **********/

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw; /* view width */
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

